<h2>Saved Articles</h2>
<hr/>
{{#each data}}
<h3 data-id='{{_id}}'>{{title}}</h3>
<a href="{{link}}">{{link}}</a><br/>
<button data-id='{{_id}}' id='delarticle'>Delete Article</button><br/>
<hr/>
{{/each}}